body { margin: 0; }

.isVisible {
    visibility:hidden;
}

.button-row {
    display: inline-flex;
  }

  button {
      padding: 4px;
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      letter-spacing: 0.05cm;
      margin-right: 8px;
  }

  #change1 {
      background-color:yellow;
  }

  #change4 {
      margin-right: 125px;
  }

  .lamp {
      background-color: #00994c;
  }

  .material {
      background-color: tan;
  }

  #moveBtn {
      margin-left: 10px;
      background-color: #993299;
      min-width: 25px;
  }


  .button-row > div {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 0 15px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }

  .button-row > div > a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  